    <br>
    <br>
    
    <table class="idTabela">
        <thead>
            <tr>
                <th class="idTh">DATA DO PEDIDO</th>
                <th class="idTh">SOLICITAÇÃO</th>
                <th class="idTh">CLIENTE</th>
                <th class="idTh">CONTATO</th>
            </tr>
        </thead>
        <tbody>
        {{#solicitacao}}
            <tr>
                <td class="idTd"><a href="/pedido/{{id}}/excluir" class="excluirCampo">X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>{{data}}</td>
                <td class="idTd">{{pedido}}</td>
                <td class="idTd">{{cliente}}</td>
                <td class="idTd">{{contato}}</td>
            </tr>
        {{/solicitacao}} 
        </tbody>
    </table>
         
     
    <script type="module" src="js/app.js"></script>
</body>
</html>